.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
  background-color: rgb(61, 63, 65);
}

.cell-wrapper {
  display: flex;
  justify-content: right;
  min-width: 140px;
  min-height: 80px;
  cursor: pointer;
}

.cell-wrapper.weekday {
  background-color: #1e1f21;
  color: #dcdddd;
}
.cell-wrapper.weekend {
  background-color: #1e1f21ba;
  color: #dcdddd;
}

.cell-wrapper.today {
  font-weight: bold;
  border: 1px solid rgb(214, 64, 64);
}

.day-wrapper {
  display: flex;
  justify-content: center;
  width: 33px;
  height: 33px;
  align-items: center;
}
