.grid-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: #dcdddd;
  background-color: #1e1f21;
  border-bottom: 1px solid #4d4d4d;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px;
  background-color: #4d4d4d;
}

.cell-header {
  display: flex;
  justify-content: right;
  background-color: #1e1f21;
  color: #dcdddd;
  min-width: 140px;
  min-height: 20px;
}

.cell-wrapper {
  display: flex;
  justify-content: right;
  min-width: 140px;
  min-height: 80px;
  cursor: pointer;
}

.cell-wrapper.weekday {
  background-color: #1e1f21;
  color: #dcdddd;
}
.cell-wrapper.weekend {
  background-color: #1e1f21ba;
  color: #dcddddc8;
}

.cell-wrapper.today {
  font-weight: bold;
  border: 1px solid rgb(214, 64, 64);
}

.cell-wrapper.not-selected-month {
  color: #777777c8;
}

.row-in-cell {
  display: flex;
  flex-direction: column;
}

.show-day-wrapper {
  display: flex;
  justify-content: flex-end;
}

.day-wrapper {
  display: flex;
  justify-content: center;
  width: 33px;
  height: 33px;
  align-items: center;
}

.event-wrapper {
  display: flex;
  justify-content: flex-end;
}
